  // Colors
  $white: #fff;
  $black: #000;
  $red-500: #c92502;
  $red-700: #891b02;
  $gray-700: #211f1f;
  $gray-200: #c9c9c9;

  // RGBA Colors
  $red-9-rgba: rgba(201, 38, 2, 0.9);
  $black-1-rgba: rgba(0, 0, 0, 0.1);
  $black-6-rgba: rgba(0, 0, 0, 0.6);